<div class="plansza">
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
  <div class="cardcontainer">
    <div class="flashcard">
      <div class="cardfront"></div>
      <div class="cardback"></div>
    </div>
  </div>
</div>

<script src="js/flash-cards.js"></script>

<script>
  function toggleMenu() {
    let toggle = document.querySelector(".toggle");
    let navigation = document.querySelector(".navigation");
    let main = document.querySelector(".main");
    toggle.classList.toggle("active");
    navigation.classList.toggle("active");
    main.classList.toggle("active");
  }
</script>
