<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="spinner-container">
      <div class="circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="container">
      <div class="hamburger-menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
        <span>Close</span>
      </div>
      <header class="header">
        <div class="img-wrapper">
          <img src="assets/bg2.jpeg" />
        </div>
        <div class="banner">
          <h1>There is only one way to develop your memory</h1>
          <p>We will show you in full-of-color way!</p>
          <a href="../forms/reg.html"><button>Join us!</button></a>
        </div>
      </header>

      <section class="sidebar">
        <ul class="menu">
          <li class="menu-item">
            <a href="#" class="menu-link" data-content="Home">Home</a>
          </li>
          <li class="menu-item">
            <a href="#team" class="menu-link" data-content="About Us"
              >About Us</a
            >
          </li>
          <li class="menu-item">
            <a href="#team" class="menu-link" data-content="Team">Team</a>
          </li>
          <li class="menu-item">
            <a href="/login" class="menu-link" data-content="Join Us!"
              >Join Us!</a
            >
          </li>
          <li class="menu-item">
            <a href="#contact" class="menu-link" data-content="Contact"
              >Contact</a
            >
          </li>
        </ul>
        <div class="social-media">
          <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="social-icon" href="#"><i class="fab fa-instagram"></i></a>
          <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
          <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </section>

      <section class="about-us">
        <div class="section-header">
          <h1 class="section-heading">Info odnosnie mózgu i uczenia</h1>
          <div class="underline"></div>
        </div>
        <div class="services">
          <div class="service">
            <div class="service-header">
              <i class="fas fa-pen-nib"></i>
              <h3>Nauka</h3>
            </div>
            <p class="service-text">heheszki</p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-paint-roller"></i>
              <h3>Mózg</h3>
            </div>
            <p class="service-text">fajnie go mieć</p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-pencil-alt"></i>
              <h3>Odpowiada za</h3>
            </div>
            <p class="service-text">coś tam</p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-paint-brush"></i>
              <h3>Odzywianie</h3>
            </div>
            <p class="service-text">min 80g czystych wegli na dobe</p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="fas fa-ruler-combined"></i>
              <h3>Uzycie</h3>
            </div>
            <p class="service-text">uzywamy 1/3 mozgu. A niektorzy w ogole</p>
          </div>
          <div class="service">
            <div class="service-header">
              <i class="far fa-building"></i>
              <h3>cos tam</h3>
            </div>
            <p class="service-text">jeszcze wieksze cos tam</p>
          </div>
          <div class="about-us-img-wrapper">
            <img src="assets/brain.jpg" />
          </div>
        </div>
      </section>

      <section class="team" id="team">
        <div class="section-header">
          <h1 class="section-heading">Our Team</h1>
          <div class="underline"></div>
        </div>
        <div class="cards-wrapper">
          <div class="card" data-tilt>
            <div class="card-img-wrapper">
              <img src="assets/em.JPG" alt="Designer" />
            </div>
            <div class="card-info">
              <h2>Marcin Dubinski</h2>
              <h3>Nr albumu 133825</h3>
              <p>marcin.dubinski@student.put.poznan.pl</p>
              <button>Read More</button>
            </div>
          </div>
          <div class="card" data-tilt>
            <div class="card-img-wrapper">
              <img src="assets/em.JPG" alt="Architect" />
            </div>
            <div class="card-info">
              <h2>Marcin Dubinski</h2>
              <h3>Nr albumu 133825</h3>
              <p>marcin.dubinski@student.put.poznan.pl</p>
              <button>Read More</button>
            </div>
          </div>
        </div>
      </section>

      <section class="contact" id="contact">
        <div class="contact-wrapper">
          <div class="contact-left"></div>
          <div class="contact-right">
            <h1 class="contact-heading">Contact</h1>
            <form>
              <div class="input-group">
                <input type="text" class="field" />
                <label class="input-label">Full Name</label>
              </div>
              <div class="input-group">
                <input type="email" class="field" />
                <label class="input-label">Email</label>
              </div>
              <div class="input-group">
                <textarea class="field"></textarea>
                <label class="message">Message</label>
              </div>
              <input type="submit" class="submit-btn" value="Submit" />
            </form>
          </div>
        </div>
      </section>
      <a href="#" class="scroll-btn">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>

    <script>
      window.onload = () => {
        setTimeout(() => {
          document.querySelector("body").classList.add("display");
        }, 4000);
      };

      document
        .querySelector(".hamburger-menu")
        .addEventListener("click", () => {
          document.querySelector(".container").classList.toggle("change");
        });

      document.querySelector(".scroll-btn").addEventListener("click", () => {
        document.querySelector("html").style.scrollBehavior = "smooth";
        setTimeout(() => {
          document.querySelector("html").style.scrollBehavior = "unset";
        }, 1000);
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="js/home.js"></script>
  </body>
</html>
