* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  width: 100%;
}

div {
  flex-basis: 15%;
  flex-grow: 1;
  height: 33.33vh;
  border: 2px solid white;
}

@media (orientation: portrait) {
  div {
    flex-basis: 30%;
    height: 15hv;
  }
}

/* Cards colour. JS will take random colour class and write into 2div */
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.lightblue {
  background-color: lightblue;
}
.yellow {
  background-color: yellow;
}
.yellowgreen {
  background-color: yellowgreen;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
.gray {
  background-color: gray;
}
.lightgray {
  background-color: lightgray;
}
/* we have to set default colors for hidden and unactive (paired) cards */

.off {
  background-color: #eee;
}
.hidden {
  background-color: #000;
}

/* Od tego momentu wchodzi głwony wyglad */
a {
  font-size: 2em;
  text-decoration: none;
  background: #222;
  box-sizing: border-box;
  color: #fff;
  padding: 5px;
}
